<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>

<div>
  <%= form_with model: Item.new, url: admin_items_path do |f| %>
  <div>

    <h3>商品画像</h3>
    <%= f.file_field :image, accept: "image/*" %>

    <h3>商品名</h3>
    <%= f.text_field :name %>

    <h3>商品説明</h3>
    <%= f.text_area :introduction %>

    <h3>税抜価格</h3>
    <%= f.text_field :price %>

    <%= f.submit '新規登録', class:"btn btn-success" %>
    <p>＊半角小文字で入力して下さい</p>
  <% end %>
  </div>
</div>

