<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<h2>商品詳細</h2>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @item.get_image, size: "150x150" %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2">商品名</div>
        <div class="col-md-10 mb-4"><%= @item.name %></div>
      </div>

      <div class="row">
        <div class="col-md-2">商品説明</div>
        <div class="col-md-10 mb-4"><%= @item.introduction %></div>
      </div>

      <div class="row">
        <div class="col-md-2">税込価格(税抜価格)</div>
        <div class="col-md-10 mb-4"><%= @item.price %></div>
      </div>

    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '編集する', edit_admin_item_path(@item.id), class:"btn btn-sm btn-success" %>
  </div>