
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<h2>新規会員登録</h2>

  <div class="form-group">
    <div class="row">
      <label class="col-md-2 form-label">氏名</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :last_name, autofocus: true, id:"inputname", placeholder:"姓"%>
        <%= f.text_field :first_name, autofocus: true, id:"inputname", placeholder:"名"%>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 form-label">フリガナ</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :last_name_kana, autofocus: true, id:"inputname", placeholder:"セイ"%>
        <%= f.text_field :first_name_kana, autofocus: true, id:"inputname", placeholder:"メイ"%>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 form-label">メールアドレス</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :email, size: "50", autofocus: true, id:"inputemail", placeholder:"メールアドレス"%>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 form-label">郵便番号</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :postal_code, autofocus: true, id:"inputpostal_code", placeholder:"郵便番号"%>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 form-label">住所</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :address, size: "80", autofocus: true, id:"inputaddress", placeholder:"住所"%>
      </div>
    </div>

    <div class="row">
      <label class="col-md-2 form-label">電話番号</label>
      <div class="col-md-10 mb-4">
        <%= f.text_field :telephone_number, autofocus: true, id:"inputtelephone_number", placeholder:"電話番号"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label"><%= f.label :'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-10 mb-4">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label"><%= f.label :'パスワード(確認用)' %></div>
      <div class="col-md-10 form-label">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <%= f.submit "新規登録", class:'btn btn-lg btn-success' %>
    </div>
<% end %>

<%= render "public/shared/links" %>
