<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>

<div class="col-md-8 offset-md-1">
<h2>商品詳細</h2>
<%= form_for @cart_item do |f| %>
 <table class="table">
  <tbody>
   <tr>
  <%= f.hidden_field :item_id, value: @item.id %>
    <td><p>画像</p>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image.jp', size: "100x100" %>
      <% end %></td>

    <td>商品名 <%= @item.name %></td>
    <td>商品説明 <%= @item.introduction %></td>
    <td>税込価格 <%= @item.with_tax_price %></td>
    <td><%= f.select :amount, *[1..10] %></td>
    <td><%= f.submit 'カートに入れる', class: 'btn btn-sm btn-success' %></td>
   </tr>
  </tbody>
 </table>
 <% end %>
</div>