<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/dc50be534c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h2>LOGO</h2>

        <div class="">
          <ul>
            <% if admin_signed_in? %>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
            <% elsif customer_signed_in? %>
              <li>
                <%= link_to "マイページ", customers_path %>
              </li>
              <li>
                <%= link_to "商品一覧", %>
              </li>
              <li>
                <%= link_to "カート", %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "商品一覧", admin_session_path %>
              </li>
              <li>
                <%= link_to "新規登録", admin_session_path %>
              </li>
              <li>
                <%= link_to "ログイン", admin_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
